:root {
    --clr-white-100: #fff;
    --clr-white-200: #e2e2e2;

    --clr-blue-800: #003049;
    --clr-blue-900: #000814;

    --clr-red: #C1121F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--clr-white-100);
    font-family: Roboto, Arial;
}

.counter-container {
    background-color: var(--clr-blue-800);
    padding: 100px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 30px rgba(0, 8, 20, 0.5)
}


h1 {
    text-align: center;
    color: var(--clr-white-100);
    font-size: 60px;
}

.btn {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 60px;
}

.btn button {
    min-width: 80px;
    font-weight: bold;
    border: none;
    padding: 15px 0px;
    font-size: 25px;
    border-radius: 25px;
    cursor: pointer;
}

button.increase,
button.decrease {
    color: var(--clr-blue-900);
    background-color: var(--clr-white-200);
}

button.reset {
    background-color: transparent;
    border: 4px solid var(--clr-white-200);
    color: var(--clr-white-200);
}

.decrease:active,
.increase:active {
    transform: scale(.98);

}

.reset:active {
    transform: scale(.98);
    border-color:  var(--clr-red);
}
